name: Deploy BizForm Worker
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: Install Wrangler
        run: npm i -g wrangler
      - name: Install Scss
        run: npm install -D sass
      - name: Install deps
        run: npm ci
      - name: Build
        run: npm run build
      - name: Deploy
        env:
          CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
          CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
        run: wrangler deploy
